* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(https://media.istockphoto.com/id/1289799805/photo/solar-system-planet-and-sun.jpg?s=170667a&w=0&k=20&c=H1Ya6u_me17It765x9B0d06whAUMcV_bMdMXP6r8R7U=);
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    flex-direction: column;
}
h1 {
    color: white;
}

.input {
    display: flex;
    justify-content: space-evenly;
    height: 2rem;
}

input,
select,
button {
    color: black;
    border-radius: 5px;
    background-color:white;
    border: none;
    box-shadow:gray;
    font-size: 15px;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.bottom h1{
    width: 50%;
    height: 50%;
    align-items: center;
}

.weight{
    color: black;
    font-size: 45px;
    width: 100%;
}